body {
  margin: 0;
  font-family: Arial, sans-serif;
   /* background: linear-gradient(135deg, #87f0dd, #ACB6E5);  */
  /* background: linear-gradient(135deg, #9ef0fb, #c5d0fd); */
  background: linear-gradient(135deg, #c8f6fc, #dddbf9);
  min-height: 100vh;
}

/* Grid Layout */
.container {
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article aside"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 10px;
  padding: 10px;
}

/* Header */
header {
  grid-area: header;
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 8px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.header-left {
  font-weight: bold;
  font-size: 18px;
}

 .header-right {
  position: relative;
} 

 .profile-icon {
  cursor: pointer;
  font-size: 24px;
} 

.profile-popup {
  position: absolute;
  top: 36px; 
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 12px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 8px;
  z-index: 100;
}

.profile-popup p {
  margin: 4px 0;
  font-size: 14px;
  color: #333; 
}



/* Sidebar Navigation */
nav {
  grid-area: nav;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logout-btn {
  background: none;
  border: none;
  color: inherit;         
  font: inherit;          
  cursor: pointer;
  padding: 2;
  font-weight: bold;
  text-align: left;
  text-decoration: none;  
}


.logout-btn:hover {
  text-decoration: underline;
  background: linear-gradient(90deg, #74ebd5, #ACB6E5);
  color: black;
}


nav a {
  display: block;
  color: #333;
  text-decoration: none;
  margin: 12px 0;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease;
}

nav a:hover {
  background: linear-gradient(90deg, #74ebd5, #ACB6E5);
  color: black;
}


article {
  grid-area: article;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Aside Section */
aside {
  grid-area: aside;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  grid-area: footer;
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
}
