.dashboard {
  
  background-color: #d8f9ff;
  border-radius: 20px;
  padding: 50px;
  margin: 100px;
  width: 55%;
  animation: fadeIn 0.8s ease-in-out;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
  backdrop-filter: blur(12px); 
}


.dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #c8f6fc, #dddbf9);
  overflow: hidden;
  position: relative;
}


.bubble {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, rgba(116, 235, 213, 0.6), rgba(172, 182, 229, 0.4));
  z-index: 1;
}


.bubble.top-right {
  width: 400px;
  height: 400px;
  top: -120px;
  right: -120px;
}


.bubble.bottom-left {
  width: 350px;
  height: 350px;
  bottom: -120px;
  left: -120px;
}


.dashboard h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color:white;
  
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.dashboard p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: #222;
  font-style: italic;
}

.dashboard-cards {
  display: flex;
  justify-content: center;
  
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}


.dashboard-card {
  cursor: pointer;
  padding: 30px;
  width: 270px;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #2c3e50;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(6px);
}


.dashboard-card.submit {
  background: linear-gradient(135deg, #9ae4f1, #caf0f8);
  box-shadow: 0 4px 14px rgb(151, 150, 150);
}


.dashboard-card.track {
  background: linear-gradient(135deg, #c9ffd7, #befff6);
  box-shadow: 0 4px 14px rgb(150, 150, 150);
  
}

.dashboard-card:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
}

.dashboard-card h3 {
  margin: 15px 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-card p {
  font-size: 1rem;
  opacity: 0.95;
}

.icon, .logo {
  font-size: 2.5rem;  
  display: inline-block;
  margin-bottom: 10px;
  animation: bounce 1.5s infinite;
  color: #2c3e50; 
}


@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}