.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  font-family: Arial, sans-serif;
}

/* Form card */
form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

/* Heading */
form h2, h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Labels */
label {
  display: block;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  color: #555;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #74ebd5;
  outline: none;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  background-color: #0c2730;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition : background 0.3s;
}

button:hover {
  background-color: #0e1f25;
}

/* Register link in Login page */
a {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #4bb7a8;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}


.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* make space for eye icon */
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
  font-size: 18px;
}
